[submodule "integrations/galaxy_watch_lsl"]
    path = integrations/galaxy_watch_lsl
    url = https://github.com/JohnGF/galaxy_watch_lsl
[submodule "games/fnf_prot"]
	path = games/fnf_prot
	url = https://github.com/gabrielbrilha/fnf_prot
[submodule "games/tower-defense-bci"]
	path = games/tower-defense-bci
	url = https://github.com/Guilherme-Coto/tower-defense-bci
