# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.pytest_cache/
*.log

# OS metadata
.DS_Store
Thumbs.db
*.lock

# Temporary Test Outputs
test_bids_dataset/
test_dev_bids/
